{# {% extends "visiosoft.theme.base::layouts.booking" %} #}

{# {% block styles %} #}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

	<style>
		body {

			background-color: #004F99;
			height: 100%;

		}
	</style>

{# {% endblock %} #}


{# {% block content %} #}


	<div>
		<div class="container pt-4 pb-4">
			<div class="container pt-4 pb-4 bg-white border rounded shadow">

				{{ form_open({
                'id': 'updateSettingsForm',
                'class': 'container' ,
                'url': 'wizard/set',
            })|raw }}
				<div class="form-group mt-4">
					<h2>Please fill all fields . / Lütfen tüm alanları doldurun .</h2>
				</div>
				<div class="form-group mt-4">
					<label for="formGroupExampleInput">
						<b>Site Adı</b>
					</label>
					<input required type="text" name="site_name" class="form-control" id="formGroupExampleInput" placeholder="Site Name">
				</div>
				<div class="form-group mt-4">
					<label for="formGroupExampleInput">
						<b>Site Açıklaması</b>
					</label>
					<textarea required type="text" name="site_description" rows="4" class="form-control" id="formGroupExampleInput" placeholder="Site Description"></textarea>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">
							<b>Dil Seçin</b>
						</label>
					</div>
					<select class"custom-select" name="site_lang">
						<option class="" data-select-text="Press to select" data-choice="" data-id="1" value="" data-choice-selectable="" id="choices-default_locale-item-choice-1" role="option" aria-selected="false">
							Choose an option...
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="2" value="en" data-choice-selectable="" id="choices-default_locale-item-choice-2" role="option" aria-selected="false">
							English (en)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="3" value="fa" data-choice-selectable="" id="choices-default_locale-item-choice-3" role="option">
							Persian (fa)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="4" value="de" data-choice-selectable="" id="choices-default_locale-item-choice-4" role="option">
							German (de)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="5" value="ar" data-choice-selectable="" id="choices-default_locale-item-choice-5" role="option">
							Arabic (ar)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="6" value="cs" data-choice-selectable="" id="choices-default_locale-item-choice-6" role="option">
							Czech (cs)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="7" value="el" data-choice-selectable="" id="choices-default_locale-item-choice-7" role="option">
							Greek (el)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="8" value="es" data-choice-selectable="" id="choices-default_locale-item-choice-8" role="option">
							Spanish (es)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="9" value="et" data-choice-selectable="" id="choices-default_locale-item-choice-9" role="option">
							Estonian (et)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="10" value="fr" data-choice-selectable="" id="choices-default_locale-item-choice-10" role="option">
							French (fr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="11" value="fr-ca" data-choice-selectable="" id="choices-default_locale-item-choice-11" role="option">
							French (Canadian) (fr-ca)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="12" value="it" data-choice-selectable="" id="choices-default_locale-item-choice-12" role="option" aria-selected="false">
							Italian (it)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="13" value="nl" data-choice-selectable="" id="choices-default_locale-item-choice-13" role="option" aria-selected="false">
							Dutch (nl)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="14" value="sv" data-choice-selectable="" id="choices-default_locale-item-choice-14" role="option">
							Swedish (sv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="15" value="sl" data-choice-selectable="" id="choices-default_locale-item-choice-15" role="option">
							Slovene (sl)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="16" value="sme" data-choice-selectable="" id="choices-default_locale-item-choice-16" role="option">
							Northern Sami (sme)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="17" value="pl" data-choice-selectable="" id="choices-default_locale-item-choice-17" role="option">
							Polish (pl)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="18" value="pt" data-choice-selectable="" id="choices-default_locale-item-choice-18" role="option">
							Portuguese (pt)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="19" value="pt-br" data-choice-selectable="" id="choices-default_locale-item-choice-19" role="option">
							Brazilian Portuguese (pt-br)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="20" value="br" data-choice-selectable="" id="choices-default_locale-item-choice-20" role="option">
							Breton (br)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="21" value="ru" data-choice-selectable="" id="choices-default_locale-item-choice-21" role="option">
							Russian (ru)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="22" value="zh-cn" data-choice-selectable="" id="choices-default_locale-item-choice-22" role="option">
							Chinese (Simplified) (zh-cn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="23" value="zh-tw" data-choice-selectable="" id="choices-default_locale-item-choice-23" role="option">
							Chinese (Taiwan) (zh-tw)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="24" value="he" data-choice-selectable="" id="choices-default_locale-item-choice-24" role="option">
							Hebrew (he)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="25" value="lt" data-choice-selectable="" id="choices-default_locale-item-choice-25" role="option">
							Lithuanian (lt)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="26" value="fi" data-choice-selectable="" id="choices-default_locale-item-choice-26" role="option">
							Finnish (fi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="27" value="da" data-choice-selectable="" id="choices-default_locale-item-choice-27" role="option">
							Danish (da)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="28" value="id" data-choice-selectable="" id="choices-default_locale-item-choice-28" role="option">
							Indonesian (id)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="29" value="hu" data-choice-selectable="" id="choices-default_locale-item-choice-29" role="option">
							Hungarian (hu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="30" value="th" data-choice-selectable="" id="choices-default_locale-item-choice-30" role="option">
							Thai (th)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="31" value="tr" data-choice-selectable="" id="choices-default_locale-item-choice-31" role="option">
							Turkish (tr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="32" value="bn" data-choice-selectable="" id="choices-default_locale-item-choice-32" role="option">
							Bengali (bn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="33" value="sq" data-choice-selectable="" id="choices-default_locale-item-choice-33" role="option">
							Albanian (sq)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="34" value="hi" data-choice-selectable="" id="choices-default_locale-item-choice-34" role="option">
							Hindi (hi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable is-highlighted" data-select-text="Press to select" data-choice="" data-id="35" value="vi" data-choice-selectable="" id="choices-default_locale-item-choice-35" role="option" aria-selected="true">
							Vietnamese (vi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="36" value="aa" data-choice-selectable="" id="choices-default_locale-item-choice-36" role="option" aria-selected="false">
							Afar (aa)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="37" value="ab" data-choice-selectable="" id="choices-default_locale-item-choice-37" role="option">
							Abkhazian (ab)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="38" value="ae" data-choice-selectable="" id="choices-default_locale-item-choice-38" role="option">
							Avestan (ae)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="39" value="af" data-choice-selectable="" id="choices-default_locale-item-choice-39" role="option" aria-selected="false">
							Afrikaans (af)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="40" value="ak" data-choice-selectable="" id="choices-default_locale-item-choice-40" role="option">
							Akan (ak)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="41" value="am" data-choice-selectable="" id="choices-default_locale-item-choice-41" role="option">
							Amharic (am)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="42" value="an" data-choice-selectable="" id="choices-default_locale-item-choice-42" role="option" aria-selected="false">
							Aragonese (an)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="43" value="as" data-choice-selectable="" id="choices-default_locale-item-choice-43" role="option">
							Assamese (as)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="44" value="av" data-choice-selectable="" id="choices-default_locale-item-choice-44" role="option" aria-selected="false">
							Avaric (av)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="45" value="ay" data-choice-selectable="" id="choices-default_locale-item-choice-45" role="option" aria-selected="false">
							Aymara (ay)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="46" value="az" data-choice-selectable="" id="choices-default_locale-item-choice-46" role="option">
							Azerbaijani (az)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="47" value="ba" data-choice-selectable="" id="choices-default_locale-item-choice-47" role="option" aria-selected="false">
							Bashkir (ba)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="48" value="be" data-choice-selectable="" id="choices-default_locale-item-choice-48" role="option">
							Belarusian (be)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="49" value="bg" data-choice-selectable="" id="choices-default_locale-item-choice-49" role="option" aria-selected="false">
							Bulgarian (bg)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="50" value="bh" data-choice-selectable="" id="choices-default_locale-item-choice-50" role="option">
							Bihari languages (bh)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="51" value="bi" data-choice-selectable="" id="choices-default_locale-item-choice-51" role="option">
							Bislama (bi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="52" value="bm" data-choice-selectable="" id="choices-default_locale-item-choice-52" role="option">
							Bambara (bm)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="53" value="bo" data-choice-selectable="" id="choices-default_locale-item-choice-53" role="option">
							Tibetan (bo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="54" value="bs" data-choice-selectable="" id="choices-default_locale-item-choice-54" role="option">
							Bosnian (bs)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="55" value="ca" data-choice-selectable="" id="choices-default_locale-item-choice-55" role="option">
							Catalan; Valencian (ca)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="56" value="ce" data-choice-selectable="" id="choices-default_locale-item-choice-56" role="option">
							Chechen (ce)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="57" value="ch" data-choice-selectable="" id="choices-default_locale-item-choice-57" role="option">
							Chamorro (ch)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="58" value="co" data-choice-selectable="" id="choices-default_locale-item-choice-58" role="option">
							Corsican (co)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="59" value="cr" data-choice-selectable="" id="choices-default_locale-item-choice-59" role="option">
							Cree (cr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="60" value="cu" data-choice-selectable="" id="choices-default_locale-item-choice-60" role="option">
							Church Slavic (cu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="61" value="cv" data-choice-selectable="" id="choices-default_locale-item-choice-61" role="option">
							Chuvash (cv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="62" value="cy" data-choice-selectable="" id="choices-default_locale-item-choice-62" role="option">
							Welsh (cy)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="63" value="dv" data-choice-selectable="" id="choices-default_locale-item-choice-63" role="option">
							optionehi; Dhivehi; Maloptionian (dv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="64" value="dz" data-choice-selectable="" id="choices-default_locale-item-choice-64" role="option">
							Dzongkha (dz)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="65" value="ee" data-choice-selectable="" id="choices-default_locale-item-choice-65" role="option">
							Ewe (ee)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="66" value="eo" data-choice-selectable="" id="choices-default_locale-item-choice-66" role="option">
							Esperanto (eo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="67" value="eu" data-choice-selectable="" id="choices-default_locale-item-choice-67" role="option">
							Basque (eu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="68" value="ff" data-choice-selectable="" id="choices-default_locale-item-choice-68" role="option">
							Fulah (ff)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="69" value="fj" data-choice-selectable="" id="choices-default_locale-item-choice-69" role="option">
							Fijian (fj)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="70" value="fo" data-choice-selectable="" id="choices-default_locale-item-choice-70" role="option">
							Faroese (fo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="71" value="fy" data-choice-selectable="" id="choices-default_locale-item-choice-71" role="option">
							Western Frisian (fy)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="72" value="ga" data-choice-selectable="" id="choices-default_locale-item-choice-72" role="option">
							Irish (ga)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="73" value="gd" data-choice-selectable="" id="choices-default_locale-item-choice-73" role="option" aria-selected="false">
							Gaelic; Scottish Gaelic (gd)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="74" value="gl" data-choice-selectable="" id="choices-default_locale-item-choice-74" role="option">
							Galician (gl)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="75" value="gn" data-choice-selectable="" id="choices-default_locale-item-choice-75" role="option">
							Guarani (gn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="76" value="gu" data-choice-selectable="" id="choices-default_locale-item-choice-76" role="option">
							Gujarati (gu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="77" value="gv" data-choice-selectable="" id="choices-default_locale-item-choice-77" role="option">
							Manx (gv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="78" value="ha" data-choice-selectable="" id="choices-default_locale-item-choice-78" role="option">
							Hausa (ha)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="79" value="ho" data-choice-selectable="" id="choices-default_locale-item-choice-79" role="option">
							Hiri Motu (ho)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="80" value="hr" data-choice-selectable="" id="choices-default_locale-item-choice-80" role="option">
							Croatian (hr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="81" value="ht" data-choice-selectable="" id="choices-default_locale-item-choice-81" role="option">
							Haitian; Haitian Creole (ht)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="82" value="hy" data-choice-selectable="" id="choices-default_locale-item-choice-82" role="option">
							Armenian (hy)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="83" value="hz" data-choice-selectable="" id="choices-default_locale-item-choice-83" role="option">
							Herero (hz)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="84" value="ig" data-choice-selectable="" id="choices-default_locale-item-choice-84" role="option">
							Igbo (ig)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="85" value="ii" data-choice-selectable="" id="choices-default_locale-item-choice-85" role="option">
							Sichuan Yi; Nuosu (ii)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="86" value="ik" data-choice-selectable="" id="choices-default_locale-item-choice-86" role="option">
							Inupiaq (ik)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="87" value="io" data-choice-selectable="" id="choices-default_locale-item-choice-87" role="option">
							Ido (io)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="88" value="is" data-choice-selectable="" id="choices-default_locale-item-choice-88" role="option">
							Icelandic (is)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="89" value="iu" data-choice-selectable="" id="choices-default_locale-item-choice-89" role="option">
							Inuktitut (iu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="90" value="ja" data-choice-selectable="" id="choices-default_locale-item-choice-90" role="option">
							Japanese (ja)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="91" value="jv" data-choice-selectable="" id="choices-default_locale-item-choice-91" role="option">
							Javanese (jv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="92" value="ka" data-choice-selectable="" id="choices-default_locale-item-choice-92" role="option">
							Georgian (ka)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="93" value="kg" data-choice-selectable="" id="choices-default_locale-item-choice-93" role="option">
							Kongo (kg)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="94" value="ki" data-choice-selectable="" id="choices-default_locale-item-choice-94" role="option">
							Kikuyu; Gikuyu (ki)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="95" value="kj" data-choice-selectable="" id="choices-default_locale-item-choice-95" role="option">
							Kuanyama; Kwanyama (kj)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="96" value="kk" data-choice-selectable="" id="choices-default_locale-item-choice-96" role="option">
							Kazakh (kk)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="97" value="kl" data-choice-selectable="" id="choices-default_locale-item-choice-97" role="option">
							Kalaallisut; Greenlandic (kl)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="98" value="km" data-choice-selectable="" id="choices-default_locale-item-choice-98" role="option">
							Central Khmer (km)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="99" value="kn" data-choice-selectable="" id="choices-default_locale-item-choice-99" role="option">
							Kannada (kn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="100" value="ko" data-choice-selectable="" id="choices-default_locale-item-choice-100" role="option">
							Korean (ko)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="101" value="kr" data-choice-selectable="" id="choices-default_locale-item-choice-101" role="option">
							Kanuri (kr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="102" value="ks" data-choice-selectable="" id="choices-default_locale-item-choice-102" role="option">
							Kashmiri (ks)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="103" value="ku" data-choice-selectable="" id="choices-default_locale-item-choice-103" role="option">
							Kurdish (ku)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="104" value="kv" data-choice-selectable="" id="choices-default_locale-item-choice-104" role="option">
							Komi (kv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="105" value="kw" data-choice-selectable="" id="choices-default_locale-item-choice-105" role="option">
							Cornish (kw)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="106" value="ky" data-choice-selectable="" id="choices-default_locale-item-choice-106" role="option">
							Kirghiz; Kyrgyz (ky)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="107" value="la" data-choice-selectable="" id="choices-default_locale-item-choice-107" role="option">
							Latin (la)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="108" value="lb" data-choice-selectable="" id="choices-default_locale-item-choice-108" role="option">
							Luxembourgish; Letzeburgesch (lb)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="109" value="lg" data-choice-selectable="" id="choices-default_locale-item-choice-109" role="option">
							Ganda (lg)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="110" value="li" data-choice-selectable="" id="choices-default_locale-item-choice-110" role="option">
							Limburgan; Limburger; Limburgish (li)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="111" value="ln" data-choice-selectable="" id="choices-default_locale-item-choice-111" role="option">
							Lingala (ln)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="112" value="lo" data-choice-selectable="" id="choices-default_locale-item-choice-112" role="option">
							Lao (lo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="113" value="lu" data-choice-selectable="" id="choices-default_locale-item-choice-113" role="option">
							Luba-Katanga (lu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="114" value="lv" data-choice-selectable="" id="choices-default_locale-item-choice-114" role="option">
							Latvian (lv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="115" value="mg" data-choice-selectable="" id="choices-default_locale-item-choice-115" role="option">
							Malagasy (mg)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="116" value="mh" data-choice-selectable="" id="choices-default_locale-item-choice-116" role="option">
							Marshallese (mh)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="117" value="mi" data-choice-selectable="" id="choices-default_locale-item-choice-117" role="option">
							Maori (mi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="118" value="mk" data-choice-selectable="" id="choices-default_locale-item-choice-118" role="option">
							Macedonian (mk)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="119" value="ml" data-choice-selectable="" id="choices-default_locale-item-choice-119" role="option">
							Malayalam (ml)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="120" value="mn" data-choice-selectable="" id="choices-default_locale-item-choice-120" role="option">
							Mongolian (mn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="121" value="mr" data-choice-selectable="" id="choices-default_locale-item-choice-121" role="option">
							Marathi (mr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="122" value="ms" data-choice-selectable="" id="choices-default_locale-item-choice-122" role="option">
							Malay (ms)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="123" value="mt" data-choice-selectable="" id="choices-default_locale-item-choice-123" role="option">
							Maltese (mt)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="124" value="my" data-choice-selectable="" id="choices-default_locale-item-choice-124" role="option">
							Burmese (my)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="125" value="na" data-choice-selectable="" id="choices-default_locale-item-choice-125" role="option">
							Nauru (na)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="126" value="nb" data-choice-selectable="" id="choices-default_locale-item-choice-126" role="option">
							Bokmål, Norwegian; Norwegian Bokmål (nb)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="127" value="nd" data-choice-selectable="" id="choices-default_locale-item-choice-127" role="option">
							Ndebele, North; North Ndebele (nd)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="128" value="ne" data-choice-selectable="" id="choices-default_locale-item-choice-128" role="option">
							Nepali (ne)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="129" value="ng" data-choice-selectable="" id="choices-default_locale-item-choice-129" role="option">
							Ndonga (ng)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="130" value="nn" data-choice-selectable="" id="choices-default_locale-item-choice-130" role="option">
							Norwegian Nynorsk; Nynorsk, Norwegian (nn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="131" value="no" data-choice-selectable="" id="choices-default_locale-item-choice-131" role="option">
							Norwegian (no)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="132" value="nr" data-choice-selectable="" id="choices-default_locale-item-choice-132" role="option">
							Ndebele, South; South Ndebele (nr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="133" value="nv" data-choice-selectable="" id="choices-default_locale-item-choice-133" role="option">
							Navajo; Navaho (nv)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="134" value="ny" data-choice-selectable="" id="choices-default_locale-item-choice-134" role="option">
							Chichewa; Chewa; Nyanja (ny)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="135" value="oc" data-choice-selectable="" id="choices-default_locale-item-choice-135" role="option">
							Occitan (post 1500); Provençal (oc)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="136" value="oj" data-choice-selectable="" id="choices-default_locale-item-choice-136" role="option">
							Ojibwa (oj)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="137" value="om" data-choice-selectable="" id="choices-default_locale-item-choice-137" role="option">
							Oromo (om)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="138" value="or" data-choice-selectable="" id="choices-default_locale-item-choice-138" role="option">
							Oriya (or)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="139" value="os" data-choice-selectable="" id="choices-default_locale-item-choice-139" role="option">
							Ossetian; Ossetic (os)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="140" value="pa" data-choice-selectable="" id="choices-default_locale-item-choice-140" role="option">
							Panjabi; Punjabi (pa)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="141" value="pi" data-choice-selectable="" id="choices-default_locale-item-choice-141" role="option">
							Pali (pi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="142" value="ps" data-choice-selectable="" id="choices-default_locale-item-choice-142" role="option">
							Pushto; Pashto (ps)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="143" value="qu" data-choice-selectable="" id="choices-default_locale-item-choice-143" role="option">
							Quechua (qu)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="144" value="rm" data-choice-selectable="" id="choices-default_locale-item-choice-144" role="option">
							Romansh (rm)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="145" value="rn" data-choice-selectable="" id="choices-default_locale-item-choice-145" role="option">
							Rundi (rn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="146" value="ro" data-choice-selectable="" id="choices-default_locale-item-choice-146" role="option">
							Romanian; Moldavian; Moldovan (ro)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="147" value="rw" data-choice-selectable="" id="choices-default_locale-item-choice-147" role="option">
							Kinyarwanda (rw)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="148" value="sa" data-choice-selectable="" id="choices-default_locale-item-choice-148" role="option">
							Sanskrit (sa)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="149" value="sc" data-choice-selectable="" id="choices-default_locale-item-choice-149" role="option">
							Sardinian (sc)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="150" value="sd" data-choice-selectable="" id="choices-default_locale-item-choice-150" role="option">
							Sindhi (sd)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="151" value="se" data-choice-selectable="" id="choices-default_locale-item-choice-151" role="option">
							Northern Sami (se)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="152" value="sg" data-choice-selectable="" id="choices-default_locale-item-choice-152" role="option">
							Sango (sg)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="153" value="si" data-choice-selectable="" id="choices-default_locale-item-choice-153" role="option">
							Sinhala; Sinhalese (si)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="154" value="sk" data-choice-selectable="" id="choices-default_locale-item-choice-154" role="option">
							Slovak (sk)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="155" value="sm" data-choice-selectable="" id="choices-default_locale-item-choice-155" role="option">
							Samoan (sm)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="156" value="sn" data-choice-selectable="" id="choices-default_locale-item-choice-156" role="option">
							Shona (sn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="157" value="so" data-choice-selectable="" id="choices-default_locale-item-choice-157" role="option">
							Somali (so)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="158" value="sr" data-choice-selectable="" id="choices-default_locale-item-choice-158" role="option">
							Serbian (sr)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="159" value="ss" data-choice-selectable="" id="choices-default_locale-item-choice-159" role="option">
							Swati (ss)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="160" value="st" data-choice-selectable="" id="choices-default_locale-item-choice-160" role="option">
							Sotho, Southern (st)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="161" value="su" data-choice-selectable="" id="choices-default_locale-item-choice-161" role="option">
							Sundanese (su)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="162" value="sw" data-choice-selectable="" id="choices-default_locale-item-choice-162" role="option">
							Swahili (sw)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="163" value="ta" data-choice-selectable="" id="choices-default_locale-item-choice-163" role="option">
							Tamil (ta)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="164" value="te" data-choice-selectable="" id="choices-default_locale-item-choice-164" role="option">
							Telugu (te)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="165" value="tg" data-choice-selectable="" id="choices-default_locale-item-choice-165" role="option">
							Tajik (tg)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="166" value="ti" data-choice-selectable="" id="choices-default_locale-item-choice-166" role="option">
							Tigrinya (ti)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="167" value="tk" data-choice-selectable="" id="choices-default_locale-item-choice-167" role="option">
							Turkmen (tk)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="168" value="tl" data-choice-selectable="" id="choices-default_locale-item-choice-168" role="option">
							Tagalog (tl)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="169" value="tn" data-choice-selectable="" id="choices-default_locale-item-choice-169" role="option">
							Tswana (tn)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="170" value="to" data-choice-selectable="" id="choices-default_locale-item-choice-170" role="option">
							Tonga (Tonga Islands) (to)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="171" value="ts" data-choice-selectable="" id="choices-default_locale-item-choice-171" role="option">
							Tsonga (ts)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="172" value="tt" data-choice-selectable="" id="choices-default_locale-item-choice-172" role="option">
							Tatar (tt)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="173" value="tw" data-choice-selectable="" id="choices-default_locale-item-choice-173" role="option">
							Twi (tw)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="174" value="ty" data-choice-selectable="" id="choices-default_locale-item-choice-174" role="option">
							Tahitian (ty)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="175" value="ug" data-choice-selectable="" id="choices-default_locale-item-choice-175" role="option">
							Uighur; Uyghur (ug)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="176" value="uk" data-choice-selectable="" id="choices-default_locale-item-choice-176" role="option">
							Ukrainian (uk)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="177" value="ur" data-choice-selectable="" id="choices-default_locale-item-choice-177" role="option">
							Urdu (ur)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="178" value="uz" data-choice-selectable="" id="choices-default_locale-item-choice-178" role="option">
							Uzbek (uz)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="179" value="ve" data-choice-selectable="" id="choices-default_locale-item-choice-179" role="option">
							Venda (ve)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="180" value="vo" data-choice-selectable="" id="choices-default_locale-item-choice-180" role="option">
							Volapük (vo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="181" value="wa" data-choice-selectable="" id="choices-default_locale-item-choice-181" role="option">
							Walloon (wa)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="182" value="wo" data-choice-selectable="" id="choices-default_locale-item-choice-182" role="option">
							Wolof (wo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="183" value="xh" data-choice-selectable="" id="choices-default_locale-item-choice-183" role="option">
							Xhosa (xh)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="184" value="yi" data-choice-selectable="" id="choices-default_locale-item-choice-184" role="option">
							Yiddish (yi)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="185" value="yo" data-choice-selectable="" id="choices-default_locale-item-choice-185" role="option">
							Yoruba (yo)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="186" value="za" data-choice-selectable="" id="choices-default_locale-item-choice-186" role="option">
							Zhuang; Chuang (za)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="187" value="zh" data-choice-selectable="" id="choices-default_locale-item-choice-187" role="option">
							Chinese (zh)
						</option>
						<option class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="188" value="zu" data-choice-selectable="" id="choices-default_locale-item-choice-188" role="option">
							Zulu (zu)
						</option>
					</select>
				</div>
				<div class="form-group mt-4">
					<label for="formGroupExampleInput">
						<b>Site Domaini</b>
					</label>
					<input required type="text" name="site_domain" class="form-control" id="formGroupExampleInput" placeholder="Site Domaini">
				</div>
				<div class="form-group mt-4">
					<input type="submit" class="btn btn-success" value="İlerle ->">
				</div>
				{{ form.close|raw }}

			</div>
		</div>
	</div>


{# {% endblock %} #}
